<ul>
  <li *ngFor="let dog of contests?.content">
    <a routerLink="/contest/{{contest.id}}"> {{contest.name}} </a>
  </li>
</ul>
<label for="pageSize">Items per page</label>
<select id="pageSize" [(ngModel)]="pageSize" (change)="fetchContests()" >
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="25">25</option>
</select>

<button [disabled]="contests?.first" (click)="previousPage()"> < </button>
<select [(ngModel)]="page" (change)="fetchContests()">
  <option *ngFor="let item of [].constructor(contests?.totalPages); let index=index" [value]="index">{{index+1}}</option>
</select>
<button [disabled]="contests?.last" (click)="nextPage()"> > </button>
